<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">

<!-- 	<bean id="daoimp" class="com.ciq.DAO.StudentDaoIMPL"></bean> -->

<!-- 	<bean id="service" class="com.ciq.Service.StudentSerImpl"> -->
		<!-- <constructor-arg name="imp" ref="daoimp" /> -->

<!-- 		<property name="imp" ref="daoimp"></property> -->
<!-- 	</bean> -->

<!-- 	<bean id="controller" class="com.ciq.Controller.StudController"> -->
		<!-- <constructor-arg name="eservice" ref="service" /> --> 

<!-- 		<property name="ser" ref="service"></property> -->
<!-- 	</bean> -->
 
<context:annotation-config/>
<context:component-scan base-package="com.ciq.*"/>

</beans>